table {
    width: 400px; /* 너비 */
}

table, td, th {
    border: 1px solid gray; /* 테두리 */
    border-collapse: collapse;
    text-align: center; /* 가운데 정렬 */
}
thead {
    background-color: aqua; /* 배경색 */
}
tfoot {
    background-color: rgb(206, 236, 236); /* 배경색 */
}
td {
    padding-right: 5px; /* 여백 띄우기 */
    text-align: right; /* 오른쪽 정렬 */
}
caption { /* 제목 */
    font-size: 30px; /* 글씨 크기 */
}